
<button class="btn btn-add-to-cart btn-dark {{ btnAddClasses }} bouton_Panier" type="button" aria-label="Add to cart" data-container="body" data-toggle="modal" data-target="#cart-modal" data-ajax="updateTotal"">
    <i class="fa fa-shopping-cart"></i>Add to cart
</button>

<!-- Modal -->
<div class="MyModal modal fade bd-example-modal-sm" id="cart-modal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header header_cart_modal">
          <h5 class="modal-title" id="exampleModalLabel">{{ 'cart_modal_title'|_ }}
  </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {% partial 'cart_modal' arBreadcrumbs=arBreadcrumbs %}
        </div>
        <div class="footer_cart_modal">
        <div class="modal_button">
           <span class="cart__total-price-current-price col-3 col-lg-2 text-right">
                  <span class="cart__total-price-price-value"> Sous-total {{ Cart.getTotalPrice() }}</span>
                  <span class="cart__total-price-price-currency">{{ Cart.getCurrency() }}</span>
              </span>
          <a href="/checkout" type="button" class="btn btn-secondary" >{{ 'cart_modal_show'|_ }}</a>
          <a type="button" class="btn btn-primary">{{ 'cart_modal_checkout'|_ }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>