<div class="input-group product-detailed__btn-qty {% if btnProductPage %} mb-3 {% endif %} mesInputs">
    <select
            type="number"
            class="product-detailed__btn-qty-input"
            name="quantity"
            value="{{ btnChangeQtyValue }}"
            min="1"
            max="{{ btnMaxQtyValue }}"
            aria-label="Input quantity"
            style="width:25%"
            {% if btnChangeQtyAjax %} data-ajax="updateTotal" {% endif %}
            >
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
</select>
</div>