.modal-content {
    background: none;
}
.modal-header {
    background: rgba(0,0,0,0.4);
}
.modal-body {
    background: #fff;
    border-radius: 0px 0px 5px 5px;
    padding: 3rem 1rem;
}
#myForm .close {
    position: relative;
    z-index: 100;
}

.vl {
    border-left:1px solid #38546d; 
    border-right:1px solid #16222c; 
    height:80px;
    position:absolute;
    right:249px;
    top:10px; 
  }

.Modal-title {
    font-size: 30px !important;
    color: var(--unnamed-color-000000);
    text-align: left;
    font: italic normal bold 55px/64px Roboto Condensed;
    letter-spacing: -1.1px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    line-height: 40px;
}

.Modal-input-label {
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 22px/26px Roboto Condensed;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size:18px !important;
    text-transform: uppercase;
}

.modal_field {
    width: 45%;
}

.Modal_p {
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal 300 14px/20px Roboto Condensed;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


.Modal_button {
    background: #EB2122 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    color: #fff;
    text-align: center;
    font: normal normal bold 25px/30px Roboto Condensed;
    letter-spacing: 0px;
    opacity: 1;
    width: 100%;
    margin-top: 15px;
    border: none;
    padding: 5px;
}

.input-group-append .btn, .input-group-prepend .btn {
    background-color: #EB2122;
    color:white;
    padding: 5px 15px;
}

.Modal_input {
    color:#EB2122;
    font-weight: bold;
}
.modal-body .form-control {
    color: #EB2122;
}

.wrapper {
    position: relative;
    height: 210px;
}

.line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #ccc;
    z-index: 1;
}

.wordwrapper {
    text-align: center;
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 2;
}

.word {
    color: #666;
    text-transform: uppercase;
    padding: 3px;
    font-size: 14px;
    font-weight: bold;
    background: #fff;
}
@media (max-width: 991px) {
    .wrapper {
        height: 40px;
    }
    
    .line {
        left: 0;
        top: 50%;
        width: 100%;
        height: 2px;
    }
    
    .word {
        padding: 7px;
        display: inline;
    }
}