<label for="filter" style="display:inline;width:10%">Trier par :
<select style="display:inline" name="filter" id="filter" onchange="filterList(document.getElementById('filter').value )">
  <option value="0" {% if filter == 0 %} selected="selected"{% endif %}>Populaire : plus populaire en premier</option>
  <option value="1" {% if filter == 1 %} selected="selected"{% endif %}>Populaire : moins populaire en premier</option>
  <option value="2" {% if filter == 2 %} selected="selected"{% endif %}>Date : plus récent en premier</option>
  <option value="3" {% if filter == 3 %} selected="selected"{% endif %}>Date : plus ancien en premier</option>
</select>
</label>