<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
      
  <div class="container">
      <div class="row align-items-center">
          <div class="col-12 col-lg-5">
              <h3 class="Modal-title ">Par modèle </h3>
              <div style="width: 88px; height: 5px; background-color: #d2d2d2; margin-bottom: 24px ; margin-right:2%;"></div>
              <div style="color:black; display: flex; justify-content: space-between;">
                   <div  id="field_annee" class="modal_field">
                                  <label class="Modal-input-label">Chosir une Année
                                  </label>
                                 <select class="form-control" name="year" id="year" onchange="updateTypePiece(document.getElementById('type_Vehicule').value , {{ obActiveCategory.id }} , document.getElementById('slider-1').value , document.getElementById('slider-2').value , document.getElementById('model').value)">
                                  {% set arTypeList = pieceform.get('year' ,categorie )%}}
                                  
                                  {% for sType in arTypeList %}
                                      {% set selected = '' %}
                                      {% if sType != '' %}
                                      <option value="{{sType}}" {{ selected }}>{{sType}}</option>
                                      {% endif %}
                                  {% endfor %}
                                  </select>
                                
                              </div>
                      
                         
                              <div  id="field_model"  style="width:45%">
                                  <label class="Modal-input-label">Choisir un Modèle
                                  </label>
                                 <select class="form-control" name="model" id="model" onchange="updateTypePiece(document.getElementById('type_Vehicule').value , {{ obActiveCategory.id }} , document.getElementById('slider-1').value , document.getElementById('slider-2').value , document.getElementById('model').value)">
                                  {% set arTypeList = pieceform.get('model_product' ,categorie )%}}
                                  {% for sType in arTypeList %}
                                      {% set selected = '' %}
                                      {% if sType != '' %}
                                      <option value="{{sType}}" {{ selected }}>{{sType}}</option>
                                      {% endif %}
                                  {% endfor %}
                                  </select>
                              </div>
              </div>
              <input style="display:none"  id="category"> 
              <button class="Modal_button"  onclick="search(document.getElementById('year').value , document.getElementById('model').value , {{categorie}})">CHOISIR</button>
          </div>
          <div class="col-12 col-lg-2 text-center">
              <div class="wrapper">
                  <div class="line"></div>
                  <div class="wordwrapper">
                      <div class="word">OU</div>                                        
                  </div>
              </div>
          </div>
          <div class="col-12 col-lg-5">
              <h3 class="Modal-title ">Par numéro de pièce </h3>
              <div style="width: 88px; height: 5px; background-color: #d2d2d2; margin-bottom: 24px ; margin-right:2%;"></div>
              <p class="Modal_p" style="color:black">Si vous connaissez la référence de la pièce Honda que vous recherchez, entrez-la ci-dessous.</p>
              <br>
              <form style="display:flex; " action="recherche-par-piece" method="get"><input class="form-control py-2 border-right-0 border" type="search" placeholder="Entrez le numéro de la pièce" id="example-search-input" name="q"><span class="input-group-append"><button class="btn btn-outline-secondary border-left-0 border btn_bg-white" type="submit"><i class="fa fa-search"></i></button></span></form>
          </div>
      </div>
  </div>
      